<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script language="JavaScript">

var kode;

function cekValue(nilai){
	cek_value=nilai*0;

	if(cek_value==0){
		return true;
	}
	else{
		return false;
	}
}

</script>
<form name="frm_data" action="{PAGE_ADD}" method="post">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr class='banner' height=40>
	<td align='center' valign='middle' class="bannerjudul">&nbsp;Page</td>
</tr>
<tr>
	<td class="whiter" valign="middle" align="center">
	<table width='1000'>
		<tr><td colspan=3 bgcolor='{BGCOLOR_PESAN}' align='center'>{PESAN}</td></tr>
		<br>
		<tr><h2>{JUDUL}</h2></tr>
		<tr>
			<td align='center' valign='top'>
				<table width=500>
					<tr><td><h2>&nbsp;</h2></td></tr>
					<tr><td colspan=3><h3><u>Tambah Page Data</u></h3></td></tr>
					<tr>
			    </tr>
					<tr>
						<td><u>ID Page</u></td><td>:</td>
						<td>
							<input name="page_id" type="text" value="{PAGE_ID}" id="page_id">
						</td>
			    	</tr>
					<tr>
						<td><u>Nama Page</u></td><td>:</td>
						<td>
							<input type="text" name="nama_page" value="{NAMA_PAGE}" id="nama_page">
						</td>
			    	</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan=3 align='center' valign='middle' height=40>
				<input type="hidden" name="mode" value="{MODE}">
			  <input type="hidden" id='submode' name="submode" value="{SUB}">
				<input type="button" onClick="javascript: history.back();" value="&nbsp;&nbsp;&nbsp;KEMBALI&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;
			  <input type="submit" name="submit" value="&nbsp;&nbsp;&nbsp;SIMPAN&nbsp;&nbsp;&nbsp;">
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>
</form>