<script language="JavaScript">

var kode;

function cekValue(nilai){
	cek_value=nilai*0;
	
	if(cek_value==0){
		return true;
	}
	else{
		return false;
	}
}

function validateInput(){
	
	valid=true;
		
	if(kodekota.value==''){
		valid=false;
		kodekota.style.background="red";
	}
	
	if(namakota.value==''){
		valid=false;
		namakota.style.background="red";
	}

	if(valid){
		return true;
	}
	else{
		return false;
	}
}

</script>

<form name="frm_data_mobil" action="{U_ADD}" method="post" onSubmit='return validateInput();'>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr class='banner' height=40>
	<td align='center' valign='middle' class="bannerjudul">&nbsp;Master Kota</td>
</tr>
<tr>
	<td class="whiter" valign="middle" align="center">
	<table width='800'>
		<tr><td colspan=3 bgcolor='{BGCOLOR_PESAN}' align='center'>{PESAN}</td></tr>
		<tr>
			<td align='center' valign='top' width='400'>
				<table width='400'>   
					<tr>
						<td colspan=3><h2>{JUDUL}</h2></td>
					</tr>
					<tr>
			      <input type="hidden" name="kodekotaold" value="{KODE_KOTA_OLD}">
						<td width='200'><u>Kode Kota</u></td><td width='5'>:</td>
						<td><input type="text" id="kodekota" name="kodekota" value="{KODE_KOTA}" maxlength=10 onfocus="this.style.background='white';" style="text-transform: uppercase;" /></td>
			    </tr>
					<tr>
			      <td><u>Nama Kota</u></td><td>:</td>
						<td><input type="text" id="namakota" name="namakota" value="{NAMA_KOTA}" maxlength=100 onfocus="this.style.background='white';" style="text-transform: uppercase;"></span></td>
			    </tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan=3 align='center' valign='middle' height=40>
				<input type="hidden" name="mode" value="{MODE}">
				<input type="button" onClick="window.open('pengaturan_kota.php?SID={SID}','_self');" value="KEMBALI" style="width:100px;">&nbsp;&nbsp;&nbsp;
			  <input type="submit" name="submit" value="SIMPAN" style="width:100px;">
			</td>
		</tr>            
	</table>
	</td>
</tr>
</table>
</form>