<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
	
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
	}
	
</script>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
 <td class="whiter" valign="middle" align="left">		
	<table width='100%' cellspacing="0">
		<tr class='banner' height=40>
			<td valign='middle' class="bannerjudul">&nbsp;Export Untuk GP</td>
		</tr>
		<tr>
			<td colspan=2 align='center' valign='middle'>
				<table>
					<tr><td>
						<br>
						&nbsp;Periode:&nbsp;<input readonly="yes"  id="periode" name="periode" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{PERIODE}" size=10>
						<input type="button" value="Export" onClick="{ACTION_EXPORT}"/>&nbsp;								
					</td></tr>
				</table>
			</td>
		</tr>
	</table>
 </td>
</tr>
</table>