<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script type="text/javascript">
	function printWindow() {
		bV = parseInt(navigator.appVersion);
		if (bV >= 4) window.print();
	}
</script>	 

<body class='tiket'>
	
<!-- BEGIN ROW -->
<div style="font-size:14px;width:400px;height: 470px;">
	<span style="font-size:22px;">{ROW.NAMA_PERUSAHAAN</span><br>
	<span style="font-size:22px;">{ROW.NAMA_PERUSAHAAN}</span><br>
	BIAYA NON OPERASIONAL<br>
	<span style="text-transform: uppercase;font-weight: bold;font-size: 18px;">{ROW.JENIS_BIAYA}</span><br>
	-slip untuk CSO-<br>
	Penerima:{ROW.NAMA_PENERIMA}<br>
	Juml.:{ROW.JUMLAH}<br>
	Ket. :{ROW.KETERANGAN}<br>
	CSO  :{ROW.CSO}<br>
	Cetak:{ROW.WAKTU_CETAK}<br>
	BA By:{ROW.PEMBUAT_BA}<br>
	TTD PENERIMA<br>
	<br>
	<br>
	<br>
	{ROW.NAMA_PENERIMA}<br>
</div>
<!-- END ROW -->
</body>

<script language="javascript">
	printWindow();
	window.close();
</script>
</html>
