<script type="text/javascript">
filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<th align='left'>Welcome {USERNAME},</th>
	</tr>
	<tr>
		<td align='left' class="indexer">{BCRUMP}</td>
	</tr>
	<tr>
		<td class="whiter" valign="middle" align="center">
			<form name="tgl" action="{U_PERIODE_LAPOR}" method="post">
				<table width='40%'>
					<tr>
						<td  colspan='3'>
							<h1 align='center'>Laporan Pembatalan</h1>
						</td>
					</tr>
					<tr>
						<td>Tanggal mulai</td>
						<td>:</td>
						<td>
							<input readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{CURRENT_DATE}">						
						</td>
					</tr>
					<tr>
						<td>Tanggal selesai</td>
						<td>:</td>
						<td>
							<input readonly="yes"  id="tanggal_akhir" name="tanggal_akhir" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{CURRENT_DATE}">						
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td ><input type="submit" name="Lapor" value="Buat Laporan"></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>