<body>

<table width='100%' height='85%'>
	<tr>
		<td align='center' valign='middle'>
			<form name="main" action="{U_LOGIN}" method="POST">
				<input type='hidden' name='menu_blokir' value='{MENU_BLOKIR}'>
				<table cellspacing=0 cellpadding=0 border=0>
					<tr>
						<td class='frm_login1' colspan='4'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login2'>&nbsp;</td>
						<td class='frm_login3'><img src="{TPL}images/login/{IMAGE_BACKGROUND}" /></td>
						<td class='frm_login4'>&nbsp;</td>
						<td class='frm_login5'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login6'>&nbsp;</td>
						<td class='frm_login7'>&nbsp;</td>
						<td class='frm_login8'>
							<input type="text" size="30" id="username" name="username" value=""  placeholder='username'/><br><br>
							<input type="password" size="30" id="password" name="password" value="" placeholder='password' /><br><br>
							<input id="submit" name="submit" value ="Log In" type="submit" />
						<td class='frm_login9'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login10' colspan='4'>&nbsp;</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</body>
<script text="javascript">
	//alert("Mulai Hari Senin 20 Mei 2013, tiket bimo sudah dapat dibeli secara online melalui www.tiketux.com. Mohon disosialisasikan kepada penumpang. silahkan baca pengumuman, atau dapat juga melihat detailnya di www.tiketux.com. terima kasih");
</script>