<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>

<script language="JavaScript">


function init(e) {
	
	document.forms.frm_input_kartu.id_kartu.focus();
}

dojo.addOnLoad(init);

var waktu_refresh=6;//dedtik
var temp_waktu=waktu_refresh;

function beginrefresh(){
	
	if (temp_waktu==1) {
		temp_waktu=waktu_refresh;
		
		if(document.getElementById("hdn_flag")){
			beginrefresh();
			document.location="member_cek_saldo.php?sid={SID}";	
		}
	}
	else {
		//get the minutes, seconds remaining till next refersh
		temp_waktu-=1;
		setTimeout("beginrefresh()",1000);
	}
	
}
//call the function beginrefresh
window.onload=beginrefresh();

</script>

<table  width= "100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td align='center'>
			<h1>CEK SALDO & POINT MEMBER</h1>
	</tr>
	<tr height='400'>
		<td align='center'>{BODY}</td>
	</tr>
</table>
