<div class="menuwrapper" style="height: 120px">
	<br/>
	
	<div class="menuicon">
		<a href="{U_LAPORAN_TIKETUX}">
			<img src="{TPL}images/icon_laporan_tiketux.png" /><br/>
			Penjualan Tiketux
		</a>
	</div>
	<div style="height: {menu_reservasi.br};"></div>
	
	<div class="menuicon">
		<a href="{U_DEPOSIT_TIKETUX}">
			<img src="{TPL}images/icon_laporan_tiketux.png" /><br />
			Top Up Deposit
		</a>
	</div>
	<div style="height: {menu_penjadwalan.br};"></div>
	
	<div class="menuicon">
		<a href="{U_LAPORAN_TRX_DEPOSIT}">
			<img src="{TPL}images/icon_laporan_tiketux.png" /><br />
			Laporan<br>Transaksi Deposit
		</a>
	</div>
	<div style="height: {menu_pengumuman.br};"></div>

</div>