<!-- BEGIN if_login -->
</div>
<!-- END if_login -->
<p class='gensmall' align='center'>
<br />
<table width=500>
	<tr>
		<td valign='middle' align='center'>
			<table>
				<tr><td valign='middle' align='center'><font color='5f5f5f' size=2>
					Sistem oleh: TIKETUX (PT. Trans Berjaya Khatulistiwa)&nbsp;<br>
					&copy; 2015
				</font></td></tr>
			</table>
	</tr>
</table>
</p>
</td></tr>
</table>
</body>
</html>
