<div id="registerForm">
	<center> <font style="font-weight:bold;font-size:12pt">Registrasi Member<br/><br/></font> </center>
	<table width="100%">
	<tbody>
	<tr>
		<td width="25%">Id Member:</td>
		<td width="25%"><input type="text" name="IdMember" id="IdMember" onchange="cekIdMember(this.value)"/>&nbsp;*</td>
	
		<td width="25%" style="padding-left:10px;">Nama:</td>
		<td width="25%"><input type="text" name="Nama" id="Nama"/>&nbsp;*</td>
	</tr>
	<tr>
		<td>Jenis Kelamin:</td>
		<td>
		<select name="JenisKelamin" id="JenisKelamin" style="width:145px;">
		<option value=1>Laki-laki</option>
		<option value=0>Perempuan</option>		
		</select>
		</td>
	
		<td style="padding-left:10px;">Kata Sandi:</td>
		<td><input type="password" name="KataSandi" id="KataSandi"/>&nbsp;*</td>
	</tr>
	<tr>
		<td>Tempat Lahir:</td>
		<td><input type="text" name="TempatLahir" id="TempatLahir"/></td>
	
		<td style="padding-left:10px;">Tanggal Lahir:</td>
		<td>
		<input readonly="yes"  name="TglLahir" id="TglLahir" type="text" size="15"/>&nbsp;&nbsp;&nbsp;<a href="#" onClick="setYears(1990, 2015);showCalender(this, 'TglLahir');"><img src="images/b_calendar.png" border="0"/></a>	
		<div id="calender_table">
		<table id="calenderTable">
		        <tbody id="calenderTableHead">
		          <tr>
		            <td colspan="4" align="center">
			          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
			           this.selectedIndex, false));" id="selectMonth">
			              <option value="0">Jan</option>
			              <option value="1">Feb</option>
			              <option value="2">Mar</option>
			              <option value="3">Apr</option>
			              <option value="4">May</option>
			              <option value="5">Jun</option>
			              <option value="6">Jul</option>
			              <option value="7">Aug</option>
			              <option value="8">Sep</option>
			              <option value="9">Oct</option>
			              <option value="10">Nov</option>
			              <option value="11">Dec</option>
			          </select>
		            </td>
		            <td colspan="2" align="center">
					    <select onChange="showCalenderBody(createCalender(this.value, 
						document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
						</select>
					</td>
		            <td align="center">
					    <a href="#" onClick="closeCalender();"><font color="#003333" size="+1">X</font></a>
					</td>
				  </tr>
		       </tbody>
		       <tbody id="calenderTableDays">
		         <tr style="">
		           <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
		         </tr>
		       </tbody>
		       <tbody id="calender"></tbody>
		    </table>
			</div>
		</td>
	</tr>
	<tr>
		<td>No. KTP:</td>
		<td><input type="text" name="NoKTP" id="NoKTP"/></td>
	
		<td style="padding-left:10px;">Alamat:</td>
		<td><input type="text" name="Alamat" id="Alamat"/></td>
	</tr>
	<tr>
		<td>Kota:</td>
		<td><input type="text" name="Kota" id="Kota"/></td>
	
		<td style="padding-left:10px;">Kode Pos:</td>
		<td><input type="text" name="KodePos" id="KodePos"/></td>
	</tr>
	<tr>
		<td>Telepon:</td>
		<td><input type="text" name="Telp" id="Telp"/></td>
	
		<td style="padding-left:10px;">Handphone:</td>
		<td><input type="text" name="Handphone" id="Handphone"/>&nbsp;*</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" name="Email" id="Email" onchange="checkEmail(this.value);"/></td>
	
		<td style="padding-left:10px;">Pekerjaan:</td>
		<td><input type="text" name="Pekerjaan" id="Pekerjaan"/></td>
	</tr>	
	<tr>
		<td></td>
		<td style="text-align:right"><br/><input type="button" name="save" value="Save" onclick="validate()"/></td>
		<td><br/><input type="button" name="save" value="Cancel" onclick="registerCancel()"/></td>
		<td><font style="font-style:italic">* :wajib diisi</font></td>
	</tr>	
	</tbody>
	</table>	
<div>

