<SCRIPT>
<!-- Begin
function printWindow() {
	bV = parseInt(navigator.appVersion);
	if (bV >= 4) window.print();
}
//  End -->
</SCRIPT>
<!--<a href="javascript:printWindow()">Print This Page</a>-->
<table  width= "1450" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="58" colspan="4" valign="bottom"><font size="2" face="Courier New">{NO_TIKET}</font></td>
  </tr>
  <tr> 
    <td width="130" height="25" rowspan="5"><font size="2" face="Courier New"> </font></td>
    <td width="720" height="25"><font size="2" face="Courier New">{NAMA}</font></td>
    <td width="220" rowspan="5"><font size="2" face="Courier New"> </font></td>
    <td width="380"><font size="2" face="Courier New">{TANGGAL}</font></td>
  </tr>
  <tr> 
    <td rowspan="4" valign="top"><font size="2" face="Courier New">{ALAMAT} 
      </font></td>
    <td height="25"><font size="2" face="Courier New">{HARGA_TIKET}</font></td>
  </tr>
  <tr> 
    <td height="22"><font size="2" face="Courier New"> </font></td>
  </tr>
  <tr> 
    <td height="25"><font size="2" face="Courier New">{BAYAR}</font></td>
  </tr>
  <tr> 
    <td height="25"><font size="2" face="Courier New">&nbsp;{NO_TEMPAT_DUDUK}</font></td>
  </tr>
  <tr> 
    <td height="38"><font size="2" face="Courier New"> </font></td>
    <td><font size="2" face="Courier New"> </font></td>
    <td><font size="2" face="Courier New"> </font></td>
    <td><font size="2" face="Courier New"> </font></td>
  </tr>
  <tr> 
		<td colspan="2">
			<table width="100%">
				<td width="50%" height="23" colspan="2" align="center" valign="top"><font size="2" face="Courier New">{ASAL}</font></td>
				<td width="50%" align="center" valign="top"><font size="2" face="Courier New">{TUJUAN}</font></td>
	    </table>
		</td>
		<td colspan="2"></td>
  </tr>
  <tr> 
    <td colspan="2"><font size="2" face="Courier New"> </font></td>
    <td align="center" valign="middle" colspan="2"><font size="2" face="Courier New">{CSO}</font></td>
  </tr>
</table>
