<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script language="JavaScript" type="text/javascript" src="{ROOT}ajax/lib/prototype.js"></script>
<script type='text/javascript' src='{ROOT}js/prototype.js'></script>
<script type='text/javascript' src='{ROOT}js/scriptaculous.js?load=effects'></script>
<script type='text/javascript' src='{ROOT}js/prototip.js'></script>
<link rel="stylesheet" type="text/css" href="{ROOT}css/prototip.css" />
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<SCRIPT>
<!-- Begin
function printWindow() {
	bV = parseInt(navigator.appVersion);
	if (bV >= 4) window.print();
	window.opener.getUpdatePaket();
}

printWindow();
window.close();

//  End -->
</SCRIPT>

<body class='tiket'>
<div id='output_tiket'>{OUTPUT_TIKET}</div>
</body>
</html>