<script type="text/javascript"> 
  djConfig = { isDebug: false };   // tidak memakai debug 
</script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
</script>

<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">	
		<!-- MODUL -->
		<form action="{U_USER_SHOW}" method="post">
    <table width='100%'>
    <tr>
    </tr>
    <tr>
      <td align='right'>
         Cari: <input type="text" name="user">&nbsp;&nbsp;&nbsp;<input type="submit" value="show user">
      </td>
    </tr>
    </table>
    </form>
		
    <table width='100%'>
    <tr>
    <td valign="middle" align="center">
    <table width='100%' class="border">
    <tr>
       <th>#</th><th>Nama</th><th>Username</th><th>Level</th><th>Cabang</th><th>Waktu Login</th><th>Waktu Logout</th><th>Status</th>
     </tr>
		
     <!-- BEGIN ROW -->
     <tr bgcolor='D0D0D0'>
       <td class="{ROW.odd}" width='2%'>{ROW.no}</td>
       <td class="{ROW.odd}" width='15%'>{ROW.nama}</td>
       <td class="{ROW.odd}" width='15%'>{ROW.user}</td>
       <td class="{ROW.odd}" width='15%'>{ROW.user_level}</td>
       <td class="{ROW.odd}" width='10%'>{ROW.cabang}</td>
       <td class="{ROW.odd}" width='10%'>{ROW.waktu_login}</td>
       <td class="{ROW.odd}" width='10%'>{ROW.waktu_logout}</td>
       <td class="{ROW.odd}" width='10%' align='center'>{ROW.status}</td>
     </tr>  
     <!-- END ROW -->
		</table>
 </td>

</tr>
</table>