<html>
	<head>
		<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
	</head>
	<script type="text/javascript">
		function printWindow() {
			bV = parseInt(navigator.appVersion);
			if (bV >= 4) window.print();
			window.opener.getUpdateMobil();
		}
	</script>

	<body class='spj'>
	<div style="font-size:14px;width:600px;height: 470px;">
		<div style="font-size:22px;"> -- [VOUCHER BBM] -- </div><br>
		<div style="font-size:18px;">{NAMA_PERUSAHAAN}</div>
		<div style="font-size:16px;">{KODE_VOUCHER}</div>
		UNTUK DIBERIKAN KEPADA<br>
		PETUGAS SPBU<br>
		BBM-{NO_SPJ}<br>
		Untuk Unit:<b>{NO_POLISI}</b><br>
		Sopir:{SOPIR}<br>
		Petugas: {CSO}<br><br>
		TTD Petugas<br><br><br><br>
		........................<br>
		-Terima kasih-
		<br><br>
		-------potong disini-------<br>
		<div style="font-size:22px;"> -- [VOUCHER BBM] -- </div><br>
		<div style="font-size:18px;">{NAMA_PERUSAHAAN}</div>
		<div style="font-size:16px;">{KODE_VOUCHER}</div>
		UNTUK DIBERIKAN KEPADA<br>
		PETUGAS SPBU<br>
		BBM-{NO_SPJ}<br>
		Untuk Unit:<b>{NO_POLISI}</b><br>
		Sopir:{SOPIR}<br>
		Petugas: {CSO}<br><br>
		TTD Petugas<br><br><br><br>
		........................<br>
		-Terima kasih-

		<br>
		<br>
	</div>
	<script language="javascript">
		printWindow();
		window.close();
	</script>
	</body>
	</html>